<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body id="<%= pageID %>">
    <h1>Learning D3</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <svg>
          </svg> <!-- svg graphics -->
        </div>
      </div><!-- container -->
    </div>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
