<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body id="<%= pageID %>">
    <h1>Learning D3</h1>
    <div id="chart" class="container"></div>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
